<div class="mb-3">
  <div class="container border-primary text-center">
    <div class="card text-primary">
      <div class="card-header text-center">
        <h1 class="card-title">
          {{titulo}}
        </h1>
      </div>
    </div>
    <div class="card-body border-primary">
      <form>
        <div class="mb-3">
          <label for="txtNombreCategoria" class="form-label">Nombre</label>
          <input type="text" id="txtNombreCategoria" name="nombre" class="form-control" [(ngModel)]="categoria.nombre" required />
        </div>
        <div class="mb-3">
          <label for="txtDescripcionCategoria" class="form-label">Descripción</label>
          <input type="text" id="txtDescripcionCategoria" name="descripcion" class="form-control" [(ngModel)]="categoria.descripcion" required />
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-outline-success form-control" *ngIf="categoria.id; else elseBlock" (click)="actualizarCategoria()">
            Actualizar
          </button>
          <ng-template #elseBlock>
            <button type="button" class="btn btn-outline-primary form-control" (click)="registrarCategoria()">
              Registrar
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
